* { margin: 0; padding: 0;}

.nav{
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 10px;
    background-color: rgba(142, 10, 21, 0.5);
    font-family: ethnocentric, sans-serif;
    font-size: 100%;    
    text-align: center;
    vertical-align: top;
}

.logo{
    height: 5rem;
    width: 5rem;
    justify-content: left;
    text-align: left;
    border-radius: 100px;
    margin: 10px;
}

.titulo{
    font-size: 100%;

}
.atendimento{
    text-decoration: none;
    text-align: right;
    
}

.link{
    padding-top: 20px;
    text-decoration: none;
    font-size: 150%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(142, 10, 21);
    text-align: left;
}
.info{
    
    padding: 10px;
    text-align: center;
    background-color: rgba(142, 10, 21, 0.5);
}
